<div fxLayout="row">
  <form clrForm [formGroup]="form" (ngSubmit)="saveTransaction()">
    <clr-select-container>
      <label>Category</label>
      <select clrSelect name="Category" formControlName="category">
        <option
          *ngFor="let category of categories$ | async"
          [value]="category.id"
        >
          {{ category.categoryName }}
        </option>
      </select>
    </clr-select-container>
    <clr-input-container>
      <label>Amount</label>
      <input clrInput type="number" formControlName="amount" />
    </clr-input-container>
    <clr-input-container>
      <label>Currency</label>
      <input clrInput type="string" formControlName="currency" />
    </clr-input-container>
    <clr-date-container>
      <label>Effective Date</label>
      <input
        type="date"
        clrDate
        name="effective date"
        formControlName="effectiveDate"
      />
    </clr-date-container>
    <button [disabled]="form.invalid" class="btn btn-primary">
      Add Transaction
    </button>
  </form>
</div>
