<clr-datagrid>
  <clr-dg-column>Category</clr-dg-column>
  <clr-dg-column>Amount</clr-dg-column>
  <clr-dg-column>Currency</clr-dg-column>
  <clr-dg-column>Effective Date</clr-dg-column>
  <clr-dg-row *ngFor="let transaction of transactions$ | async">
    <clr-dg-cell>{{ transaction.category }} </clr-dg-cell>
    <clr-dg-cell>{{ transaction.amount }} </clr-dg-cell>
    <clr-dg-cell>{{ transaction.currency }}</clr-dg-cell>
    <clr-dg-cell>{{ transaction.effectiveDate }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
        >Transactions per page</clr-dg-page-size
      >
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
      {{ pagination.totalItems }} transactions
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
